<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <nav class="navbar navbar-static-top">
        <div class="container-fluid" style="margin-bottom: 10px;">
            <div class="navbar-header">
                <div class="container" style="padding-top: 20px;"> 
                    
                    <a style="padding-right: 70px;" href="/">
                        <img th:src="@{/images/logo-embaixada.png}" style= " border-radius: 15%"/>
                    </a>
                    
                    <a style="padding-right: 15px" href="https://governo.gov.ao/ao/">
                        <img th:src="@{/images/gov.png}" />
                    </a>
                    <a href="https://mirex.gov.ao/">
                        <img th:src="@{/images/mirex.png}" />
                    </a>
                </div>
            </div>   
        </div>
    </nav>
    <div style="border-bottom: 10px solid #FF0000;"></div>
    <div style="border-bottom: 5px solid #FFFF00;"></div>
    <div style="border-bottom: 15px solid #000000;"></div>
</html>