<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <nav class="navbar-btn bottom" style="margin-top: 50px; background-color: red">
        <div class="overlay-mf"></div>
        <div style="border-bottom: 10px solid #FF0000;"></div>
        <div style="border-bottom: 5px solid #FFFF00;"></div>
        <div style="border-bottom: 15px solid #000000;"></div>        
        <footer>
            <div class="container">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6 col-md-3 item" style="justify-content: center; padding-bottom: 1%;">                        
                        <h3 class="row" style="justify-content: center">Service</h3>                    
                        <a class="row" href="https://milsondepaz.github.io/portfolio" style="justify-content: center">
                            <img th:src="@{/images/ma.png}" height="50%" width="30%"  style="justify-content: center"/>
                        </a>                    
                        <a class="row" href="https://milsondepaz.github.io/portfolio" style="justify-content: center">M.A  Technology GmbH</a>                         
                    </div>
                    <div class="col-md-3 col-md-3 item">
                        <h3>Contactos</h3>
                        <ul>
                            <li>Tel: +49 30 240 89 755-20</li>
                            <li>sector.consular@botschaftangola.de</li>
                            <li>Werdescher Markt 10, 10117 Berlim</li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text" style="padding-left: 7%">
                        <h3>Embaixada de Angola na Alemanha</h3>
                        <p>O Portal para  auxilia os utentes a escolherem uma data e horario para tratar assuntos relacionaidos 
                            a Inscrição Consular, Emissao de Passaporte, Salvo Conduto, Transcrição e Registo de Casamentos,
                            Transcrição e Registo de Nascimento.</p>
                    </div>
                </div>
            </div>            
        </footer>  
    </nav>
</html>